.container {
  padding: 20px;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid;
  border-color: rgb(185, 185, 202);
  border-radius: 10px;

  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
body {
  background-color: #3d1283;
}
button {
  display: block;
  max-width: 20 px 10px;
  background-image: linear-gradient(to left, #434343 0%, black 100%);

  color: #a3a39c;
  font-family: "Indie Flower", cursive;
  padding: 10px;
}
h1 {
  color: #eeec77;
  font-family: "Indie Flower", cursive;
  padding: 10px;
  text-transform: capitalize;
}
.city {
  font-family: "Indie Flower", cursive;
  text-transform: capitalize;
}
h3 {
  color: #eeec77;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  padding-top: 20px;
}

.card-title {
  font-family: "Indie Flower", cursive;
  font-size: 30px;
}
.card {
  background-image: linear-gradient(
    -225deg,
    #5271c4 0%,
    #b19fff 48%,
    #eca1fe 100%
  );
  max-width: 200px;
}
.form-control {
  max-width: 300px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

li {
  list-style: none;
  color: #eeec77;
  font-family: "Indie Flower", cursive;
}

ul {
  padding-top: 20px;
}

.Temperature {
  color: #eeec77;
  font-size: 60px;
  line-height: 1;
  font-weight: 200;
  margin-left: 10px;
}

.Units {
  color: #eeec77;
  position: relative;
  font-size: 16px;
  top: -30px;
}

.TheDate {
  font-size: 16px;
  color: #eeec77;
}

.Thedate {
  color: #eeec77;
  font-family: "Indie Flower", cursive;
}
